body {
	background-color: #E4D0E6;
	color: #330504;
	text-align: center; 
	margin: 0;
	padding: 0;
}

#centerdiv {
	background-image: url('Addwalkbackground.png');
	background-repeat: no-repeat;
	background-position: -170px 160px;
	/*height:850px;*/
	margin-left:auto;margin-right:auto;position:relative; 
	width:880px;
	
	padding-bottom: 255px;
}
	
.title {
	margin-left: auto;
	margin-right: auto;
	display:block;
	width:1250px;
	height:150px;
	text-align: center;
	text-indent:-9999px;
	position: absolute;
	left:-170px;
	top: -11px;
}

.title a {
	display:block;
	width:100%;
	height:100%;
	background:transparent url(Freshwox.png) no-repeat center;
	outline:none;
}
	
.orangebox {
	background-color: #feb63e;
	width:720px;
	min-height: 950px;
	position: relative;
	left: 80px;
	top: 270px;
	text-align: center;
}

.walknamebubble {
	background: url('walknamebubble.png') no-repeat center;
	width: 283px;
	height:120px;
	position: absolute;
	left: -50px;
	top: -50px;
	padding-top: 20px;
	font-family: Tahoma;
	color: #d057b4;
	font-weight: bold;
	text-shadow: .1em .1em .1em #644504;
	overflow: visible;
}

.description {
	background: url('description.png') no-repeat center;
	width: 580px;
	height: 210px;
	text-align: center;
	padding-top: 100px;
	position: absolute;
	top: -65px;
	left: 220px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 14px;
}

.realdescription {
	background: url('realdescription.png') no-repeat center;
	width: 500px;
	height: 360px;
	position: absolute;
	top: 70px;
	left: 1px;
	padding-top: 40px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 14px;
}

.descriptiontext {
	width: 400px;
	height: 300px;
	position: relative;
	left: 40px;
	top: 40px;
	padding-top: 40px;	
}

.coordinatestext {
	padding-top: 26px;
}

.mapbubble {
	width: 195px;
	height: 140px;
	position: absolute;
	top: 330px;
	left: 420px;
}

.map {
	position: absolute;
	top: 490px;
	left: -150px;
}

.mapbackground {
	position: absolute;
	top: 448px;
	left: -192px;
}

.submittedby {
	background: url('submittedby.png') no-repeat center;
	width: 195px;
	height: 140px;
	position: absolute;
	top: 720px;
	left: 120px;
	text-align: center;
	padding-top: 110px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 17px;
}
